html, body {margin:0;padding:0;height:100%;}

leftchunk {
	float: left;
	width: 33.33%;
    width: calc(100% / 3);
	background-image: url("eftimg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	text-align: center;
}

middlechunk {
	float: left;
	width: 33.33%;
    width: calc(100% / 3);
	background-image: url("huntimg.png");
	backgorund-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	text-align: center;
}

rightchunk {
	float: left;
	width: 33.33%;
    width: calc(100% / 3);
	background-image: url("destinyimg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	text-align: center;
}